# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# testing
/coverage
/playwright-report/
/test-results/
/blob-report/
/storybook-static/

# lighthouse
.lighthouseci/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# sentry
.sentryclirc
